In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
# 파일 불러오기
df= pd.read_csv("/Users/crlee/pandas/2022_점포수.csv",encoding = 'cp949')
df

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
0,2022,4,U,관광특구,1001496,강남 마이스 관광특구,CS300043,전자상거래업,6,6,0,0,0,0,0
1,2022,4,U,관광특구,1001496,강남 마이스 관광특구,CS300042,주유소,1,1,0,0,0,0,0
2,2022,4,U,관광특구,1001496,강남 마이스 관광특구,CS300041,예술품,10,10,0,0,0,0,0
3,2022,4,U,관광특구,1001496,강남 마이스 관광특구,CS300038,자동차부품,10,10,0,0,0,0,0
4,2022,4,U,관광특구,1001496,강남 마이스 관광특구,CS300036,조명용품,14,14,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
898063,2020,1,A,골목상권,2110001,이북5도청사,CS200001,일반교습학원,3,3,0,0,0,0,0
898064,2020,1,A,골목상권,2110001,이북5도청사,CS100010,커피-음료,2,2,0,0,0,0,0
898065,2020,1,A,골목상권,2110001,이북5도청사,CS100009,호프-간이주점,2,3,0,0,0,0,1
898066,2020,1,A,골목상권,2110001,이북5도청사,CS100008,분식전문점,3,3,0,0,0,0,0
898067,2020,1,A,골목상권,2110001,이북5도청사,CS100001,한식음식점,10,11,0,0,0,0,1

In [4]:
# 필요한 열만 추출
select_col = ['기준_년_코드','기준_분기_코드', '상권_구분_코드_명','상권_코드_명','개업_점포_수','폐업_점포_수']
df2 = df[select_col]
df2

        기준_년_코드  기준_분기_코드 상권_구분_코드_명      상권_코드_명  개업_점포_수  폐업_점포_수
0          2022         4       관광특구  강남 마이스 관광특구        0        0
1          2022         4       관광특구  강남 마이스 관광특구        0        0
2          2022         4       관광특구  강남 마이스 관광특구        0        0
3          2022         4       관광특구  강남 마이스 관광특구        0        0
4          2022         4       관광특구  강남 마이스 관광특구        0        0
...         ...       ...        ...          ...      ...      ...
898063     2020         1       골목상권       이북5도청사        0        0
898064     2020         1       골목상권       이북5도청사        0        0
898065     2020         1       골목상권       이북5도청사        0        0
898066     2020         1       골목상권       이북5도청사        0        0
898067     2020         1       골목상권       이북5도청사        0        0

[898068 rows x 6 columns]

In [5]:
# 기준_년_코드 > 2022년만 추출
df3 = df2[df2['기준_년_코드'] == 2022]
df3

        기준_년_코드  기준_분기_코드 상권_구분_코드_명      상권_코드_명  개업_점포_수  폐업_점포_수
0          2022         4       관광특구  강남 마이스 관광특구        0        0
1          2022         4       관광특구  강남 마이스 관광특구        0        0
2          2022         4       관광특구  강남 마이스 관광특구        0        0
3          2022         4       관광특구  강남 마이스 관광특구        0        0
4          2022         4       관광특구  강남 마이스 관광특구        0        0
...         ...       ...        ...          ...      ...      ...
299660     2022         1       골목상권       이북5도청사        0        0
299661     2022         1       골목상권       이북5도청사        0        0
299662     2022         1       골목상권       이북5도청사        0        0
299663     2022         1       골목상권       이북5도청사        0        0
299664     2022         1       골목상권       이북5도청사        0        0

[299665 rows x 6 columns]

In [11]:
# 상권_구분_코드_명 > 골목상권만 추출
df3 = df3[df3['상권_구분_코드_명'] == "골목상권"]
df3

        기준_년_코드  기준_분기_코드 상권_구분_코드_명  상권_코드_명  개업_점포_수  폐업_점포_수
29166      2022         4       골목상권  강일동주민센터        0        0
29167      2022         4       골목상권  강일동주민센터        0        0
29168      2022         4       골목상권  강일동주민센터        0        0
29169      2022         4       골목상권  강일동주민센터        0        0
29170      2022         4       골목상권  강일동주민센터        0        0
...         ...       ...        ...      ...      ...      ...
299660     2022         1       골목상권   이북5도청사        0        0
299661     2022         1       골목상권   이북5도청사        0        0
299662     2022         1       골목상권   이북5도청사        0        0
299663     2022         1       골목상권   이북5도청사        0        0
299664     2022         1       골목상권   이북5도청사        0        0

[182928 rows x 6 columns]

In [12]:
# 기준_년_코드 열 삭제
df4 = df3.drop('기준_년_코드', axis=1)
df4

        기준_분기_코드 상권_구분_코드_명  상권_코드_명  개업_점포_수  폐업_점포_수
29166          4       골목상권  강일동주민센터        0        0
29167          4       골목상권  강일동주민센터        0        0
29168          4       골목상권  강일동주민센터        0        0
29169          4       골목상권  강일동주민센터        0        0
29170          4       골목상권  강일동주민센터        0        0
...          ...        ...      ...      ...      ...
299660         1       골목상권   이북5도청사        0        0
299661         1       골목상권   이북5도청사        0        0
299662         1       골목상권   이북5도청사        0        0
299663         1       골목상권   이북5도청사        0        0
299664         1       골목상권   이북5도청사        0        0

[182928 rows x 5 columns]

In [13]:
# 상권_코드_명 합치기
result1 = df4.groupby('상권_코드_명')['개업_점포_수'].sum().reset_index()
result1

# 분기 별 평균값 구하기
result1['개업_점포_수'] = result1['개업_점포_수'] / 4
result1

# 소수점 버림
result1['개업_점포_수']=result['개업_점포_수'].apply(lambda x: int(x))
result1

           상권_코드_명  개업_점포_수
0     4.19민주묘지역 2번        9
1        GS강동자이아파트       18
2              G타워       18
3     KB국민은행 망원동지점       22
4      KB국민은행 서강지점        6
...            ...      ...
1085     효창공원앞역 6번       13
1086       효창동주민센터        7
1087       후암동주민센터       34
1088          흑리단길       16
1089       흑석2치안센터        0

[1090 rows x 2 columns]

In [16]:
# 상권_코드_명 합치기
result2 = df4.groupby('상권_코드_명')['폐업_점포_수'].sum().reset_index()
result2

# 분기 별 평균값 구하기
result2['폐업_점포_수'] = result2['폐업_점포_수'] / 4
result2

# 소수점 버림
result2['폐업_점포_수']=result2['폐업_점포_수'].apply(lambda x: int(x))
result2

           상권_코드_명  폐업_점포_수
0     4.19민주묘지역 2번        1
1        GS강동자이아파트        2
2              G타워        1
3     KB국민은행 망원동지점        5
4      KB국민은행 서강지점        1
...            ...      ...
1085     효창공원앞역 6번        4
1086       효창동주민센터        2
1087       후암동주민센터        6
1088          흑리단길        4
1089       흑석2치안센터        0

[1090 rows x 2 columns]

In [17]:
# 새로운 csv 파일로 저장
result1.to_csv("/Users/crlee/pandas/2022_개업_전처리.csv",encoding = 'cp949', index=False)

In [18]:
# 새로운 csv 파일로 저장
result2.to_csv("/Users/crlee/pandas/2022_폐업_전처리.csv",encoding = 'cp949', index=False)